h1 {
  color: white;
  Text-align: center;
  background-color: gray;
}
h3 {
  color: #ffffff;
  background-color: gray;
}
div {
    color: #ffffff;
}
body {
  background-color: #363535;
  
}
iphone {
position: absolute; right: 0px;
 
}